html {

    font-size: 16px;
}

body {
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: #d6d6d6;
}

.wrapper {
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    background: #FFFFFF;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 20px;
}

// =============================================================
.work-processes {
    background: url(img/Rectangle.png) 0 0 / cover no-repeat local;
    position: relative;
    height: 700px;
    margin-bottom: 80px;

    @media (max-width: 992px) {
        margin-bottom: 40px;
    }

    // .work-processes__laptop-image

    &__laptop-image {
        position: absolute;
        right: 0px;
        top: 80px;
        z-index: 2;
        max-width: 100%;

        @media (max-width: 1200px) {
            width: 500px;
        }

        @media (max-width: 992px) {
            width: 420px;
            // top: 480px;
            display: none;
        }
    }

    // .work-processes__letter-image

    &__letter-image {
        position: absolute;
        top: -91px;
        right: 350px;
    }

    // .work-processes__inner

    &__inner {
        max-width: 580px;
        padding-top: 140px;
        color: #FFFFFF;

        @media (max-width: 576px) {
            padding-top: 50px;
        }
    }

    // .work-processes__title

    &__title {
        font-weight: 600;
        font-size: clamp(1.625rem, 1.4167rem + 0.9259vw, 2.25rem);
        // font-size: 36px;
        line-height: 124%;
        margin-bottom: 24px;
    }

    // .work-processes__text

    &__text {
        font-weight: 400;
        // font-size from 18px to 16px;
        font-size: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem);
        line-height: 140%;
        padding-left: 25px;
        margin-bottom: 15px;
        background: url(img/Vector_check_icon.svg) 0 2px/ auto auto no-repeat;
    }
}

//=====================================================================================
.management {
    margin-bottom: 184px;

    @media (max-width: 992px) {
        margin-bottom: 50px;
    }

    // .management__title

    &__title {
        font-weight: 600;
        font-size: clamp(1.625rem, 1.4167rem + 0.9259vw, 2.25rem);
        line-height: 124%;
        text-align: center;
        color: #333333;
        margin-bottom: 64px;

        @media (max-width: 992px) {
            margin-bottom: 34px;
        }
    }

    // .management__inner

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: clamp(1rem, 2vw, 24px);

    }
}

.management {

    // .management__card
    &__card {
        max-width: 578px;
        padding: clamp(12px, 5vw, 32px);
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 5px 80px rgba(51, 51, 51, 0.1);
        border-radius: 12px;

        @media (max-width: 992px) {
            min-width: 100%;
        }
    }

    // .management__card-image
    &__card-image {
        max-width: 100%;
        float: left;
        margin: 0px 24px 5px 0px;

        @media (max-width: 768px) {
            width: 44px;
            margin: 0px 14px 5px 0px;
        }
    }

    // .management__card-title
    &__card-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 12px;
    }

    // .management__card-text
    &__card-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4F4F4F;
        overflow: hidden;
    }
}

// ===================================================
.connection {

    // .connection__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.connection {
    // .connection__item

    &__item {}
}

.connection {

    // .connection__item-info

    &__item-info {
        margin-bottom: 48px;
    }

    // .connection__item-title

    &__item-title {
        font-weight: 600;
        // font-size: clamp(1.875rem, 1.8333rem + 0.1852vw, 2rem);
        font-size: clamp(1.375rem, 1.1667rem + 0.9259vw, 2rem);
        // font-size: 2rem;
        // font-size: 32px;
        line-height: 124%;
        color: #333333;
        margin-bottom: 16px;
        max-width: 628px;
    }

    // .connection__item-text

    &__item-text {
        font-weight: 400;
        font-size: clamp(1rem, 0.9583rem + 0.1852vw, 1.125rem);
        // font-size: 18px;
        line-height: 140%;
        color: #4F4F4F;
        max-width: 554px;
    }

    // .connection__item-image

    &__item-image {
        text-align: center;
        height: 100%;

        img {
            max-width: 100%;

        }
    }

    // .connection__form

    &__form {
        // margin-left: auto;
        max-width: 480px;
        min-height: 508px;
        background: radial-gradient(100% 121.63% at 5.44% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #6979F8, #6979F8), #D9D9D9;
        border-radius: 16px;
        padding: 32px;
        display: block;

        input {
            width: 100%;
            height: 54px;
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 8px;
            margin-bottom: 10px;
        }
    }

}